
<app-header></app-header>

<!-- con ngModel podemos linkar el valor del DOM al componente y en sentido contrario -->
<input type="text" [(ngModel)]="dni" value="DNI Introducido">

<!-- Si la condicion del if se cumple, el elemento se pintará o de otra forma, no existirá -->
<p *ngIf="dni.length> 0; else noDNI" [ngStyle]="{ backgroundColor: dynamicColor() }">El DNI tiene contenido</p>

<!-- Si la condicion del if NO SE CUMPLE, el elemento no se pintará o de otra forma, no existirá -->
<ng-template #noDNI>
    <p [ngStyle]="{ backgroundColor: dynamicColor(), color: 'white' }">  El DNI no tiene contenido</p>
</ng-template>

<!-- De esta forma asignamos la clase hide, si la longitud del DNI es mayor a 0 -->
<div [ngClass]="{ miClase: dni.length > 0 }"> ESTE MENSAJE ESTARÁ OCULTO SI EL DNI TIENE ALGO DE TEXTO </div>

<ul>
    <li *ngFor="let post of publications; let i = index"> #{{ i }} {{ publications[i].name }}  : {{post.post}}</li>
</ul>

<div *ngFor="let post of publications">
    {{post.name}} : {{ post.post}}
</div>
